 {% load static %}
 <!-- End off Work Section -->            
<section id="portfolio" class="portfolio sections">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_portfolio">
                            <div class="col-sm-12">
                                <div class="head_title text-center">
                                    <h2>RECENT WORKS</h2>
                                    <div class="subtitle">
                                        It has survived not only five centuries, but also the leap scrambled it to make a type.
                                    </div>
                                    <div class="separator"></div>
                                </div>
                            </div>
                            <div class="work_menu text-center">
                                <div id="filters" class="toolbar mb2 mt2">
                                    <button class="btn-md fil-cat filter active" data-filter="all">ALL</button>/
                                    <button class="btn-md fil-cat filter" data-rel="web" data-filter=".web">WEB DESIGN</button>/
                                    <button class="btn-md fil-cat filter" data-rel="design" data-filter=".design">PRINT DESIGN</button>/
                                    <button class="btn-md fil-cat filter" data-rel="flyers" data-filter=".flyers">ANIMATION</button>/
                                    <button class="btn-md fil-cat filter" data-rel="bcards" data-filter=".bcards">ART</button>/
                                    <button class="btn-md fil-cat filter" data-rel="photo" data-filter=".photo">PHOTOGRAPHY</button>/
                                    <button class="btn-md fil-cat filter" data-rel="video" data-filter=".video">VIDEO</button>
                                </div> 

                            </div>

                            <div style="clear:both;"></div>     
                            <div id="portfoliowork"> 
                                <div class="single_portfolio tile scale-anm web grid-item-width2 video" >
                                    <img src="{% static 'assets/images/pf1.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf1.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm bcards photo" >
                                    <img src="{% static 'assets/images/pf2.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf2.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm web video">
                                    <img src="{% static 'assets/images/pf3.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf3.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm web photo" >
                                    <img src="{% static 'assets/images/pf4.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf4.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm bcards design" >
                                    <img src="{% static 'assets/images/pf5.jpg' %}" alt="" />  
                                    <a href="{% static 'assets/images/pf5.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="single_portfolio tile scale-anm flyers video design">
                                    <img src="{% static 'assets/images/pf6.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf6.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm photo flyers">
                                    <img src="{% static 'assets/images/pf7.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf7.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="single_portfolio tile scale-anm bcards video" >
                                    <img src="{% static 'assets/images/pf8.jpg' %}" alt="" />
                                    <a href="{% static 'assets/images/pf8.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>T-SHIRT DESIGN</h3>
                                            <p>art / t-shirt</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div style="clear:both;"></div>  
                        </div>
                    </div>
                </div><!-- End off container --> 
            </section> 
    <!-- End off Work Section -->            

 <!-- Study Section --> 
            <section id="study" class="study text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
                <div class="container">
                    <div class="row">
                        <div class="main_study_area sections">
                            <div class="head_title text-center">
                                <h2>CASE STUDY</h2>
                                <div class="subtitle">
                                    A brief story about how this process works, keep an eye till the end.
                                </div>
                                <div class="separator"></div>
                            </div>
                            <div class="single_study_content">
                                <div class="col-sm-6">
                                    <div class="single_study_slid_area">

                                        <div class="single_study_text">
                                            <div class="study_slider"> 
                                                <div class="item">
                                                    <div class="s_study_icon">
                                                        <i class="fa fa-lightbulb-o"></i>  
                                                    </div>
                                                    <h4>aCCUMULATE CREATIVE IDEAS</h4>
                                                    <div class="separator3"></div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                                                        Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>

                                                    <a href="" class="btn btn-lg">read more</a>
                                                </div>
                                                <div class="item">
                                                    <div class="s_study_icon">
                                                        <i class="fa fa-lightbulb-o"></i>  
                                                    </div>
                                                    <h4>aCCUMULATE CREATIVE IDEAS</h4>
                                                    <div class="separator3"></div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                                                        Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>

                                                    <a href="" class="btn btn-lg">read more</a>
                                                </div>
                                                <div class="item">
                                                    <div class="s_study_icon">
                                                        <i class="fa fa-lightbulb-o"></i>  
                                                    </div>
                                                    <h4>aCCUMULATE CREATIVE IDEAS</h4>
                                                    <div class="separator3"></div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting let.
                                                        Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>

                                                    <a href="" class="btn btn-lg">read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="single_study_right_img">
                                    <div class="col-sm-6">
                                        <div class="single_study_img">
                                            <img src="{% static 'assets/images/study.jpg' %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row --> 
                </div><!-- End off Container --> 
            </section>
    <!-- End off Study Section --> 

 <!-- Counter Section --> 
            <section id="counter" class="counter">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">  
                            <div class="col-sm-12">               
                                <div class="main_counter_area text-center">

                                    <div class="row">
                                        <div class="single_counter border_right">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-thumbs-up"></i>
                                                    <h2 class="statistic-counter">3891</h2>
                                                    <h4 class="">User Favourites</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single_counter">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-business-3"></i>
                                                    <h2 class="statistic-counter">281</h2>
                                                    <h4 class="">Posts Last 24 Hours</h4>  
                                                </div>
                                            </div>
                                        </div> 

                                        <div class="single_counter">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-people-32"></i>
                                                    <h2 class="statistic-counter">618</h2>
                                                    <h4 class="">Total Posts</h4>  
                                                </div>

                                            </div>
                                        </div>

                                        <div class="single_counter">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-cup"></i>
                                                    <h2 class="statistic-counter">178</h2>
                                                    <h4 class="">Amazing Features</h4>

                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off container --> 
            </section>   <!-- End of counter section -->


