 {% load static %}

 <!-- Pricing Section -->
            <section id="pricing" class="pricing">
                <div class="container">
                    <div class="row">
                        <div class="main_pricing_area sections">
                            <div class="head_title text-center">
                                <h2>OUR PRICING</h2>
                                <div class="subtitle">
                                    A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->

                            <div class="col-md-4 col-sm-6">
                                <div class="single_pricing">
                                    <div class="pricing_head">
                                        <h3>STARTER</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">$19</div>
                                            <div class="m_t text-center">per month</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                            <li>Competition Analysis Methods</li>
                                            <li>All Ranked URLs</li>
                                            <li>International Support System</li>
                                            <li>Social Media Tracking</li>
                                        </ul>
                                        <a href="" class="btn btn-md">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div> <!-- End off col-md-4 -->
                            <div class="col-md-4 col-sm-6">
                                <div class="single_pricing pricing_business">
                                    <div class="pricing_head ">
                                        <h3>PREMIUM</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">$39</div>
                                            <div class="m_t text-center">per month</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                            <li>Competition Analysis Methods</li>
                                            <li>All Ranked URLs</li>
                                            <li>International Support System</li>
                                            <li>Social Media Tracking</li>
                                        </ul>
                                        <a href="" class="btn btn-md">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div> <!-- End off col-md-4 -->
                            <div class="col-md-4 col-sm-6">
                                <div class="single_pricing">
                                    <div class="pricing_head">
                                        <h3>BUSINESS</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">$99</div>
                                            <div class="m_t text-center">per month</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                            <li>Competition Analysis Methods</li>
                                            <li>All Ranked URLs</li>
                                            <li>International Support System</li>
                                            <li>Social Media Tracking</li>
                                        </ul>
                                        <a href="" class="btn btn-md">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div> <!-- End off col-md-4 -->
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Pricing Section -->
